{% extends "layout.html" %}
{% block title %}Beer me up scotty{% endblock %}
{% block content %}
    <a id="intro"></a>

    <!-- Page Content -->
    <div class="content-section-a">

        <div class="container">

            {% import 'beer_form.html' as bf %}
            {{ bf.beer_form('American Amber Ale', table, name) }}
            {{ bf.beer_form('Black Duck Porter', table, name) }}
            {{ bf.beer_form('Hawkes Bay Pilsner', table, name) }}
            {{ bf.beer_form('Pured Brewed Lager', table, name) }}
            {{ bf.beer_form('Kingston Apple Cider', table, name) }}

        </div>
        <!-- /.container -->

    </div>
    <!-- /.content-section-a -->

{% endblock %}
