@import url(https://fonts.googleapis.com/css?family=Montserrat:700);

@font-face {
  font-family: "Bariol";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Bariol_Regular.otf") format("opentype");
}

body {
  background-color: #fafafa;
  font-family: 'Bariol';
  font-size: 1.5em;
}

.nicebox {
    padding: 15px 15px 15px;
    margin: 0px -15px 15px;
    background-color: #FFF;
    border-color: #DDD;
    border-width: 1px;
    border-radius: 4px 4px 0px 0px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.05)
}
